<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://www.falkon.org/" target="_blank"><img src="images/falkon-logo.png"/> Falkon</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Web browsing is an area where KDE software was quite lacking in the past several years. The old days of Konqueror with the KHTML engine are behind us. Konqueror had been first ported to QtWebKit, but then had to be ported yet again to QtWebEngine due to QtWebKit being deprecated. That has been more or less the only development it has received recently. However, Konqueror is more than a web browser #8210 it is also a file manager and a document viewer.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Although useful, this set of features is not something that users expect from web browsers nowadays. To solve this issue, two options presented themselves: either spend a lot of resources on modernizing Konqueror, or adopt an existing Qt browser that is actively developed and available right now. This is where <a href="https://www.qupzilla.com/" target="_blank">QupZilla</a>, re-branded as <a href="https://www.falkon.org/" target="_blank">Falkon</a> under KDE, comes in.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/falkon.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Falkon</h3>
                                    <p>Revamped Qupzilla joins KDE community</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/falkon.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>QupZilla is a relatively new web browser. The project started in late 2010 as a Qt web browser based on the QtWebKit web engine. Since its creation, the development has continued at a fast pace, and soon QupZilla became available in the repositories of all major Linux distributions. The first release with the current web engine (QtWebEngine) came out in 2016. Since then, a lot of work has been done to ensure everything works correctly. The transition hasn't been easy due to QtWebEngine's multi-process architecture. In 2017, QupZilla was re-branded as Falkon and the project officially came under KDE's wing. As a browser that tightly integrates into the Plasma desktop and with other KDE applications, Falkon will provide KDE users with a modern web browsing experience. Thanks to the chosen web engine (QtWebEngine #8210; Chromium) and a number of available extensions (such as AdBlock or GreaseMonkey), Falkon is able to provide a browsing experience comparable with other major web browsers. Users can already try the development versions of Falkon by installing the snap package provided by KDE Neon. The first official release of Falkon is expected in 2018.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
