<br id="financial-report"/>
<br/>
<br/>
<div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Financial Working Group</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
		    <p>The <a href="https://ev.kde.org/workinggroups/fwg.html" target="_blank">Financial Working Group</a> exists to support the KDE e.V. board, in particular the treasurer, in handling the organization's finances. Unlike most other KDE e.V. working groups, its members are elected by the membership. This reflects the special responsibilities that may come with access to financial data and documents of the organization. In 2017, the Financial Working Group saw several membership changes, updated its charter, and welcomed a newly-appointed treasurer to the KDE e.V. board. The work started in January with a joint call to make plans for the new year and to discuss the first draft of the KDE e.V. budget for 2017, issued by the treasurer. When the budget work was completed, subsequent calls focused on discussing the budget for <a href="https://akademy.kde.org/2017" target="_blank">Akademy 2017</a> in Almería, Spain, in detail; preparing a report to the membership to be unveiled during the annual General Assembly; and, finally, preparing for the new treasurer that would succeed Marta Rybczyńska following the board elections, also held at the General Assembly.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>After Akademy 2017, where Eike Hein joined the KDE e.V. board as the new treasurer, the KDE e.V. membership discussed and passed two vote proposals related to the Financial Working Group. The first is an update to the Working Group's charter, adding a new rule through which a KDE e.V. board member who vacates the position of treasurer at the end of their term automatically joins the working group membership. This will make the second vote proposal &#8210; adding the previous treasurer Marta Rybczyńska to the FWG &#8210; unnecessary in the future. In 2017, two members exited the Financial Working Group. Rohan Garg's term expired, and Claudia Rauch decided to step down due to other commitments. With the addition of Marta Rybczyńska, the membership is now only three strong. Two terms will expire in the fall of 2018. A new call for candidates to this group is open for 2018.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>In December the Financial Working Group received drafts of the 2018 budget. The process is expected to conclude in January of 2018.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
	        <h3>2016 Financial Data</h3>
		    Given the way KDE e.V. operates ‒ getting sponsorship deals and fundraisers at different times of the year, organizing Akademy in a different quarter every year, getting money before or after events the money is for ‒ we present herein the KDE e.V. financial information for 2016. Therefore, data for 2017 will be available in the 2018 report.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <table class="table">
                <thead>
                    <tr>
                    <th><h3>Income (&euro;):</h3></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Corporate Supporters:</td>
                    <td class="text-right">21.000,00</td>
                </tr>
                <tr>
                    <td>Individual Supporters:</td>
                    <td class="text-right">16.700,00</td>
                </tr>
                <tr>
                    <td>Donations:</td>
                    <td class="text-right">99.185,02</td>
                </tr>
                <tr>
                    <td>QtCon:</td>
                    <td class="text-right">214.390,41</td>
                </tr>
		<tr><td>&nbsp;</td><td> </td></tr>
		<tr><td>&nbsp;</td><td> </td></tr>
                <tr>
                    <td><b>Total:</b></td>
                    <td class="text-right"><b>351.275,43</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <table class="table">
                <thead>
                    <tr>
                    <th><h3>Expenses (&euro;):</h3></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sprints and meetings:</td>
                    <td class="text-right">32.742,71</td>
                </tr>
                <tr>
                    <td>QtCon:</td>
                    <td class="text-right">253.115,49</td>
                </tr>
                <tr>
                    <td>Personnel costs:</td>
                    <td class="text-right">18.230,30</td>
                </tr>
                <tr>
                    <td>Office and organizational costs:</td>
                    <td class="text-right">4.648,90</td>
                </tr>
                <tr>
                    <td>Infrastructure:</td>
                    <td class="text-right">3.894,59</td>
                </tr>
                <tr>
                    <td>Other:</td>
                    <td class="text-right">26.475,55</td>
                </tr>
                <tr>
                    <td><b>Total:</b></td>
                    <td class="text-right"><b>339.107,54</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sx-12 wow fadeInDown alert alert-info" data-wow-duration="1000ms" data-wow-delay="300ms">
            <strong>Financial Support:</strong> If you or your company are interested in financially supporting the KDE Community on an ongoing basis, please visit the <a href="https://ev.kde.org/getinvolved/supporting-members.html" target="_blank">Supporting Members page</a> on the KDE e.V. website.

        </div>
    </div>
</div>
