<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://www.kde.org/plasma-desktop" target="_blank"><img src="images/plasma-logo.png"/> Plasma Sprint</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>This year's Plasma sprint took place in Stuttgart, Germany. It was kindly hosted by <a href="http://www.vonaffenfels.de/unternehmen/" target="_blank">von Affenfels</a>, a company specializing in web design and Qt-based mobile apps. During the sprint, we discussed design work, new app distribution methods, web browser integration, <a href="https://www.plasma-mobile.org/" target="_blank">Plasma Mobile</a>, and of course, <a href="https://wayland.freedesktop.org/" target="_blank">Wayland</a>. We've always relied on distributions to supply our applications and updates to our users.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>We are now building support for bundled application technologies such as <a href="https://flatpak.org/" target="_blank">Flatpak</a>, <a href="https://snapcraft.io/" target="_blank">Snap</a> and <a href="https://appimage.org/" target="_blank">AppImage</a>, into <a href="https://userbase.kde.org/Discover" target="_blank">Discover</a>, Plasma's software management center. We're also integrating it into the <a href="https://store.kde.org/" target="_blank">KDE Store</a>. Our goal is to give software developers more control over their application life-cycles, and make it possible for updates to reach their users more quickly. Bundles should also make it easier for users of other, non-Linux environments to install and update KDE applications.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/plasma-team.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Plasma Sprint 2017</h3>
                                    <p>New app distribution methods, web browser integration, Plasma Mobile, and Wayland</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/plasma-team.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>Integration with web browsers in Plasma will provide download progress and media controls for websites directly in the Plasma shell. It will also be possible to send links through <a href="https://community.kde.org/KDEConnect" target="_blank">KDE Connect</a>. We discussed the use of touch-pad and touchscreen gestures to control the window manager so that specific multi-touch gestures can be used to trigger effects like the "Desktop Grid" and "Present Windows", or to switch between virtual desktops. We successfully ran Plasma Mobile on the Nexus 5X. Because the previous reference device (Nexus 5) was getting dated and difficult to find, we felt that a new one was necessary. Although this is not strictly Plasma-related, we also made a push to get the KDE websites at <a href="http://www.kde.org" target="_blank">www.kde.org</a> updated to a modern look-and-feel, consistent with the Breeze design language. We want to present our best face to the world. Finally, the <a href="http://www.jupiterbroadcasting.com/tag/linux-action-show/" target="_blank">Linux Action Show</a> did an interview with the team at the sprint: <a href="http://www.jupiterbroadcasting.com/106791/inside-the-plasma-dev-den-las-456/" target="_blank">Inside the Plasma Dev Den</a>, where you can hear us talk about Plasma and get an even better taste of our development sprints.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
