<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://rkward.kde.org/" target="_blank"><img src="images/kde-logo.png"/> RKWard</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p><a href="https://rkward.kde.org/" target="_blank">RKWard</a> is a KDE GUI to the <a href="https://www.r-project.org/" target="_blank">R language</a> for statistical computing. Although RKWard is a long-standing project, it is still a relative newcomer to KDE, having spent its early years on SF.net hosting. This year the last big step in the process of moving to the KDE.org community has been completed by importing the RKWard bug-tracking into <a href="http://bugs.kde.org" target="_blank">bugs.kde.org</a>.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>The developers will also move forward with integration into KDE.org automated builds. If you think you can help the project pick up the pace again, contact the developers on <a href="mailto:rkward-devel@kde.org">rkward-devel@kde.org</a> &#8210; your contributions are more than welcome!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>This would have not been possible without the help of the amazing and tireless Ben Cooksley. The developers had intended to wrap up 2017 with RKWard 0.7.0 as a first official release based on KF5, and formally enter the KDE.org review process. Unfortunately, real-life demands have been higher and the resources left for development thinner than anticipated. As a consequence, 2017 has been the first year since 2004 without a new release of RKWard. However, a lot has been happening behind the scenes. With the first successful builds on Windows and Mac (in addition to our primary platform, Linux), RKWard 0.7.0 is getting closer to its final form and many users are already using the unofficial development snapshots for their daily work. Aside from porting RKWard to a new version of KDE libraries, the developers have added significant new features, such as split views. In 2018, the remaining knots will hopefully be tied, and RKWard 0.7.0 will be released into the wild.</p>
                </div>
            </div>
		<div class="col-sm-6 pricing-table">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/rkward.png" alt=""/>
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>RKWard</h3>
                                        <p>Another amazing KDE incubation</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-expand">
                                            <a href="images/rkward.png" data-lightbox="portfolio">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<br/>
