{{/*
SPDX-FileCopyrightText: 2023 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<div class="consultants">
  {{ range (index $.Site.Data.consultants (.Get "name")) }}
    <div>
      <h3>{{ .name }}</h3>
      <div>
        {{ with .logo }}
          <picture class="img-consultant">
          {{ $dark := printf "%s/%s_%s%s" (path.Dir .) (path.BaseName .) "dark" (path.Ext .) }}
          {{ if os.FileExists (path.Join "static" $dark) }}
            <source srcset="{{ $dark }}" media="(prefers-color-scheme: dark)">
          {{ end }}
            <img src="{{ . }}" width="100" />
          </picture>
        {{ end }}
        {{ .description | markdownify }}
      </div>
      <p class="text-end"><a href="{{ .url }}">{{ .url }}</a></p>
    </div>
  {{ end }}
</div>

